@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
$color-primary: #FF3900;
$color-secondary: #086CA2;
$color-additional: #00B454;

.header-nav {
    padding: 15px 0;
    box-shadow: 2px 0px 5px rgba(#000, 0.2);
    
}

.logo {
    text-decoration: none;
    font-size: 24px;
    color: $color-primary;
    font-family: 'Pacifico', cursive;
}

.menu {
    a {
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        color: #000;
        border-radius: 4px;
        &.active {
            background-color: $color-primary;
            color: #fff;
        }
    }
}