$color-primary: #FF3900;

.nav-search {
    display: flex;
    input {
        border: 1px solid #f2f2f2;
        padding: 0 15px;
        flex: 2 1 auto;
    }
    .search-button {
        background-color: $color-primary;
        border: none;
        padding: 3px 5px;
        display: inline-flex;
        mat-icon {
            color: #fff;
        }
    }
}